* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 3rem;
    background-color: rgb(218, 225, 231);
}

h1, h2 {
    color: black;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 4px;
    background-color: crimson;
    color: aliceblue;
    border: 1px solid crimson;
    margin: 0 1rem;
}

.btn:hover{
    background-color: rgb(179, 10, 10);
    color: aliceblue;
}

.btn--alt{
    background-color: transparent;
    color: rgb(202, 46, 19);
}

.btn--alt:hover{
    background-color: aliceblue;
}

.card{
    background-color: aliceblue;
    border-radius: 4px;
    box-shadow: 0 1px 4px black;
    padding: 1rem;
    width: 20rem;
}

.actions{
    text-align: right;
}

.modal{
    box-shadow: 0 1px 4px black;
    border-radius: 6px;
    background-color: aliceblue;
    padding: 1rem;
    text-align: center;
    width: 30rem;
    z-index: 10;
    position: fixed;
    top: 20vh;
    left: calc(50% - 15rem);
}

.backdrop {
    position: fixed;
    z-index: 1;
    background-color: blue;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}